---
import Layout from "../layouts/Layout.astro";
import Diagrama from "../components/diagrama.astro";
---

<Layout title="Diagrama de Flujo">
    <main class="container mx-auto py-10">
        <Diagrama />
    </main>
</Layout>
