---
import Navbar from "../components/Navbar.astro";
import Gallery from "../components/Gallery.astro";

import imagen1 from "/public/carousel/Imagen1.webp";
import imagen2 from "/public/carousel/Imagen2.webp";

const galleryItems = [
    { image: imagen1, title: "Proyecto 1", category: "Diseño" },
    {
        image: imagen2,
        title: "Proyecto 2",
        category: "Fotografía",
    },
    { image: imagen1, title: "Proyecto 3", category: "Arte" },
    { image: imagen2, title: "Proyecto 4", category: "Diseño" },
    {
        image: imagen1,
        title: "Proyecto 5",
        category: "Fotografía",
    },
    { image: imagen2, title: "Proyecto 6", category: "Arte" },
];
---

<html>
    <head>
        <title>Portafolio</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <Navbar />
        <main>
            <h1>Portafolio</h1>
            <Gallery items={galleryItems} />
        </main>
    </body>
</html>

<style>
    body {
        margin: 0;
        padding: 0;
        background: #000;
        color: white;
    }

    main {
        padding: 2rem;
        padding-top: calc(
            70px + 2rem
        ); /* Ajustar el padding superior en lugar de usar margin */
    }

    h1 {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 2rem;
    }
</style>
