---

---

<section class="py-16 px-10 bg-white">
    <div class="max-w-7xl mx-auto">
        <div class="text-center mb-12">
            <h2
                class="text-4xl md:text-5xl font-bold text-[#1e665c] mb-4 font-poppins drop-shadow-md"
            >
                Contrato de Obra de Construcción por Administración
            </h2>
            <div class="w-32 h-1 bg-[#1e665c] mx-auto"></div>
        </div>

        <div
            class="bg-gray-50 p-8 rounded-xl shadow-lg mb-12 border-l-4 border-[#1e665c]"
        >
            <!--  -->
            <p
                class="text-lg md:text-xl text-gray-700 leading-relaxed font-lato font-bold"
            >
                El contrato de obra de construcción por administración es un
                acuerdo mediante el cual el constructor administra y gestiona
                todos los recursos necesarios para llevar a cabo la
                construcción, tales como materiales y mano de obra, cobrando un
                porcentaje por la administración del proyecto.
            </p>
        </div>

        <div class="mb-14">
            <h3
                class="text-2xl md:text-3xl font-semibold text-gray-800 mb-6 font-poppins"
            >
                Características principales
            </h3>
            <ul class="space-y-6">
                <li class="flex items-start">
                    <span
                        class="flex-shrink-0 w-6 h-6 rounded-full bg-[#1e665c] flex items-center justify-center text-white text-sm font-bold mt-1"
                        >1</span
                    >
                    <div class="ml-4">
                        <h4
                            class="text-xl font-semibold text-gray-700 font-poppins"
                        >
                            Transparencia financiera:
                        </h4>
                        <p class="text-gray-600 ml-6 font-lato">
                            • El cliente tiene acceso directo a los costos
                            reales del proyecto (facturas, recibos, etc.).
                        </p>
                    </div>
                </li>
                <li class="flex items-start">
                    <span
                        class="flex-shrink-0 w-6 h-6 rounded-full bg-[#1e665c] flex items-center justify-center text-white text-sm font-bold mt-1"
                        >2</span
                    >
                    <div class="ml-4">
                        <h4
                            class="text-xl font-semibold text-gray-700 font-poppins"
                        >
                            Flexibilidad en decisiones:
                        </h4>
                        <p class="text-gray-600 ml-6 font-lato">
                            • Durante el proceso, el cliente puede realizar
                            cambios o ajustes en el diseño o especificaciones.
                        </p>
                    </div>
                </li>
                <li class="flex items-start">
                    <span
                        class="flex-shrink-0 w-6 h-6 rounded-full bg-[#1e665c] flex items-center justify-center text-white text-sm font-bold mt-1"
                        >3</span
                    >
                    <div class="ml-4">
                        <h4
                            class="text-xl font-semibold text-gray-700 font-poppins"
                        >
                            Costo administrativo:
                        </h4>
                        <p class="text-gray-600 ml-6 font-lato">
                            • El constructor cobra únicamente por la
                            administración el <span class="font-bold">18%</span>
                            del costo total del proyecto.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="mb-14">
            <h3
                class="text-2xl md:text-3xl font-semibold text-gray-800 mb-6 font-poppins"
            >
                Ventajas del Contrato por Administración
            </h3>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
                <div
                    class="bg-gray-50 p-6 rounded-lg shadow-md border-t-4 border-[#1e665c]"
                >
                    <h4
                        class="text-xl font-semibold text-gray-700 mb-3 font-poppins"
                    >
                        1. Transparencia y control del cliente
                    </h4>
                    <ul
                        class="list-disc pl-5 text-gray-600 space-y-2 font-lato"
                    >
                        <li>
                            El cliente puede verificar los costos reales de
                            materiales y mano de obra, evitando sobrecostos
                            ocultos.
                        </li>
                        <li>
                            Ofrece la posibilidad de elegir proveedores o
                            materiales específicos.
                        </li>
                    </ul>
                </div>
                <div
                    class="bg-gray-50 p-6 rounded-lg shadow-md border-t-4 border-[#1e665c]"
                >
                    <h4
                        class="text-xl font-semibold text-gray-700 mb-3 font-poppins"
                    >
                        2. Flexibilidad durante la obra
                    </h4>
                    <ul
                        class="list-disc pl-5 text-gray-600 space-y-2 font-lato"
                    >
                        <li>
                            Permite realizar modificaciones en el diseño o
                            especificaciones sin penalizaciones significativas.
                        </li>
                        <li>
                            Las decisiones pueden adaptarse a nuevos
                            requerimientos o condiciones imprevistas.
                        </li>
                    </ul>
                </div>
                <div
                    class="bg-gray-50 p-6 rounded-lg shadow-md border-t-4 border-[#1e665c]"
                >
                    <h4
                        class="text-xl font-semibold text-gray-700 mb-3 font-poppins"
                    >
                        3. Reducción de costos indirectos
                    </h4>
                    <ul
                        class="list-disc pl-5 text-gray-600 space-y-2 font-lato"
                    >
                        <li>
                            Al no trabajar con un costo fijo global (como en un
                            contrato llave en mano), el cliente no paga márgenes
                            adicionales aplicados por el constructor.
                        </li>
                    </ul>
                </div>
                <div
                    class="bg-gray-50 p-6 rounded-lg shadow-md border-t-4 border-[#1e665c]"
                >
                    <h4
                        class="text-xl font-semibold text-gray-700 mb-3 font-poppins"
                    >
                        4. Supervisión profesional
                    </h4>
                    <ul
                        class="list-disc pl-5 text-gray-600 space-y-2 font-lato"
                    >
                        <li>
                            El constructor se encarga de coordinar a los
                            trabajadores, supervisar la calidad y garantizar que
                            el proyecto avance según lo planeado.
                        </li>
                    </ul>
                </div>
            </div>

            <div
                class="bg-gray-50 p-6 rounded-lg shadow-md border-t-4 border-[#1e665c] mt-8"
            >
                <h4
                    class="text-xl font-semibold text-gray-700 mb-3 font-poppins"
                >
                    5. Adaptación a presupuestos reales
                </h4>
                <ul class="list-disc pl-5 text-gray-600 space-y-2 font-lato">
                    <li>
                        Los costos finales se ajustan a los materiales y
                        decisiones tomadas, sin inflar el presupuesto inicial.
                    </li>
                </ul>
            </div>
        </div>

        <div class="bg-[#1e665c] text-white p-8 rounded-xl shadow-lg">
            <h4 class="text-2xl font-bold mb-4 font-poppins">
                Este tipo de contrato es ideal para clientes que:
            </h4>
            <ul class="space-y-3 font-lato text-lg">
                <li class="flex items-center">
                    <svg
                        class="w-5 h-5 mr-2"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    Quieren tener control total sobre los costos y calidad de la
                    obra.
                </li>
                <li class="flex items-center">
                    <svg
                        class="w-5 h-5 mr-2"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    Desean flexibilidad para ajustar el proyecto durante la construcción.
                </li>
                <li class="flex items-center">
                    <svg
                        class="w-5 h-5 mr-2"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    Están dispuestos a involucrarse en la supervisión de los gastos
                    y decisiones clave.
                </li>
            </ul>
        </div>
    </div>
</section>
