---
export interface Props {
    layout?: "desktop" | "mobile";
}

const { layout = "desktop" } = Astro.props;
const isDesktop = layout === "desktop";
---

{
    isDesktop ? (
        <div class="flex flex-wrap items-start">
            <div class="mb-6 pr-4 md:w-1/2">
                <p class="font-medium text-gray-800">Ubicación</p>
                <p class="mt-1 text-gray-600">
                    <a
                        href="https://www.google.com/maps/place/URBAN+%7C+Arquitectura/@20.6752015,-100.4450208,17z/data=!3m1!4b1!4m6!3m5!1s0x85d344bca762dab3:0x86ec34c193d2f77c!8m2!3d20.6751965!4d-100.4401499!16s%2Fg%2F12q4rljfl?entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
                        target="_blank"
                        class="text-blue-500 underline"
                    >
                        Edificio Querétaro Business Park, Av. Antea #1088, Piso
                        3, Querétaro, México, 7600.
                    </a>
                </p>
            </div>

            <div class="mb-6 pr-4 md:w-1/2 text-left md:text-right">
                <p class="font-medium text-gray-800">Teléfono</p>
                <p class="mt-1 text-gray-600">
                    <a href="tel:4427086211" class="text-blue-500 underline">
                        442 708 6211
                    </a>
                </p>
                <div class="mb-6 mt-0" />
                <p class="font-medium text-gray-800">E-mail</p>
                <p class="mt-1 text-gray-600">
                    <a
                        href="mailto:info@urbanarquitectura.mx"
                        class="text-blue-500 underline"
                    >
                        info@urbanarquitectura.mx
                    </a>
                </p>
            </div>
        </div>
    ) : (
        <div class="flex flex-wrap mb-8">
            <div class="w-full mb-4">
                <p class="font-medium text-gray-800">Querétaro</p>
                <p class="text-gray-600">Edificio Querétaro Business Park.</p>
                <p class="text-gray-600">
                    <a
                        href="https://www.google.com/maps/search/?api=1&query=Edificio+Querétaro+Business+Park,+Av.+Antea+%231088,+Piso+3,+Querétaro,+México,+7600"
                        target="_blank"
                        class="text-blue-500 underline"
                    >
                        Av. Antea #1088, Piso 3, Querétaro, México, 7600.
                    </a>
                </p>
            </div>

            <div class="w-1/2 mb-4">
                <p class="font-medium text-gray-800">Tel. Oficina</p>
                <p class="text-gray-600">
                    <a href="tel:4427086211" class="text-blue-500 underline">
                        442 708 6211
                    </a>
                </p>
                <div class="h-5" />
                <p class="font-medium text-gray-800">E-mail</p>
                <p class="text-gray-600">
                    <a
                        href="mailto:info@urbanarquitectura.mx"
                        class="text-blue-500 underline"
                    >
                        info@urbanarquitectura.mx
                    </a>
                </p>
            </div>
        </div>
    )
}
