---

---

<section class="bg-white columns-auto px-10">
    <!-- <div class=""> -->
    <div class="text-center">
        <h2
            class="text-4xl md:text-5xl font-bold text-[#2e8d80] font-poppins drop-shadow-md"
        >
            Proceso de Construcción
        </h2>
        <div class="h-10"></div>
        <div class="w-32 h-1 bg-[#2e8d80] mx-auto"></div>
    </div>
    <div class="h-10"></div>

    <div class="flex justify-around">
        <div
            class="bg-[#2e8d80] text-white rounded-xl shadow-lg text-center py-5 w-100"
        >
            <h3 class="text-2xl font-bold font-poppins">Quiero Construir</h3>
        </div>
    </div>

    <!-- haz una linea hacia abajo -->
    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>

    <div class="flex justify-around">
        <div
            class="bg-white border-4 border-[#2e8d80] text-gray-800 rounded-xl shadow-lg text-center py-5 w-120"
        >
            <h4 class="text-2xl font-bold font-poppins">¿Tengo terreno?</h4>
        </div>
    </div>

    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>
    <div class="flex justify-around">
        <div class="w-2/4 h-1 bg-[#2e8d80]"></div>
    </div>
    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>

    <div class="flex justify-around">
        <div
            class="bg-[#2e8d80] border-[#2e8d80] text-white rounded-lg shadow w-32 py-5 text-center text-2xl"
        >
            <p class="font-bold">Sí</p>
        </div>

        <div
            class="bg-black border-black text-white py-5 rounded-lg shadow w-32 text-center text-2xl"
        >
            <p class="font-bold">No</p>
        </div>
    </div>
    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>

    <div class="flex justify-around">
        <div class="w-48 flex justify-center">
            <div class="h-100% w-1 bg-[#2e8d80]"></div>
        </div>
        <div
            class="bg-white border-2 border-[#2e8d80] text-gray-800 py-5 rounded-lg shadow w-48 text-center text-2xl"
        >
            <p class="font-bold">Te lo conseguimos</p>
        </div>
    </div>

    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>
    <div class="flex justify-around">
        <div class="w-2/4 h-1 bg-[#2e8d80]"></div>
    </div>
    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>

    <div class="flex justify-around">
        <div
            class="bg-white border-2 border-[#2e8d80] text-gray-800 py-5 rounded-lg shadow w-48 text-center text-2xl"
        >
            <p class="font-bold">Diseño del proyecto</p>
        </div>
    </div>

    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>

    <div class="flex justify-around">
        <div
            class="bg-white border-4 border-[#2e8d80] text-gray-800 rounded-xl shadow-lg text-center py-5 w-120"
        >
            <h4 class="text-2xl font-bold font-poppins">
                ¿Cuento con capital para construir?
            </h4>
        </div>
    </div>

    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>
    <div class="flex justify-around">
        <div class="w-2/4 h-1 bg-[#2e8d80]"></div>
    </div>
    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>

    <div class="flex justify-around">
        <div
            class="bg-[#2e8d80] border-2 border-[#2e8d80] text-white py-2 px-4 rounded-lg shadow w-32 text-center"
        >
            <p class="font-bold">Sí</p>
        </div>

        <div
            class="bg-black border-2 border-black text-white py-2 px-4 rounded-lg shadow w-32 text-center"
        >
            <p class="font-bold">No</p>
        </div>
    </div>

    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>

    <div class="flex justify-around">
        <div class="w-48 flex justify-center">
            <div class="h-100% w-1 bg-[#2e8d80]"></div>
        </div>
        <div
            class="bg-white border-2 border-[#2e8d80] text-gray-800 py-5 rounded-lg shadow w-48 text-center text-2xl"
        >
            <p class="font-bold">Tramitamos tu crédito hipotecario</p>
        </div>
    </div>

    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>
    <div class="flex justify-around">
        <div class="w-2/4 h-1 bg-[#2e8d80]"></div>
    </div>
    <div class="flex justify-around">
        <div class="h-10 w-1 bg-[#2e8d80]"></div>
    </div>

    <div class="flex justify-around">
        <a
            class="bg-[#2e8d80] text-white rounded-xl shadow-lg text-center py-5 w-100"
            href="/contact"
        >
            <h3 class="text-2xl font-bold font-poppins">INICIA TU OBRA</h3>
        </a>
    </div>

    <div class="h-10"></div>

    <!-- Call to Action -->
    <div class="text-center">
        <p class="text-xl text-gray-700 mb-6 font-lato">
            Estamos preparados para acompañarte en cada etapa de tu proyecto de
            construcción, sin importar tu punto de partida.
        </p>
    </div>
    <!-- </div> -->

    <div class="h-10"></div>
</section>
