---
import "../tailwind.css";
interface Props {
    invertido?: boolean;
}

const { invertido = false } = Astro.props;

// Prepare classes based on invertido prop
const borderClasses = invertido
    ? "border-t-4 border-l-4 border-r-4 border-[#2e8d80] rounded-t-xl"
    : "border-b-4 border-l-4 border-r-4 border-[#2e8d80] rounded-b-xl";
---

<div class="flex justify-around">
    <div class={`${borderClasses} py-5 w-[calc(50%+4px)]`}>
        <slot />
    </div>
</div>
