---

---

<div class="flex justify-around">
    <div
        class="bg-[#2e8d80] border-[#2e8d80] text-white rounded-lg shadow py-2 sm:py-3 md:py-5 px-4 sm:px-6 md:px-10 text-center"
    >
        <p class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold">SÍ</p>
    </div>

    <div
        class="bg-black border-black text-white py-2 sm:py-3 md:py-5 px-4 sm:px-6 md:px-10 rounded-lg shadow text-center"
    >
        <p class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold">NO</p>
    </div>
</div>
