---
import "../tailwind.css";
---

<div class="flex justify-around">
    <div
        class="bg-[#2e8d80] border-[#2e8d80] text-white rounded-full py-2 sm:py-3 md:py-4 px-4 sm:px-6 md:px-8 text-center w-16 sm:w-20 md:w-24 h-16 sm:h-20 md:h-24 flex items-center justify-center"
    >
        <p class="text-base sm:text-lg md:text-xl font-bold">SÍ</p>
    </div>

    <div
        class="bg-white border-4 border-[#2e8d80] text-gray-800 rounded-full shadow py-2 sm:py-3 md:py-4 px-4 sm:px-6 md:px-8 text-center w-16 sm:w-20 md:w-24 h-16 sm:h-20 md:h-24 flex items-center justify-center"
    >
        <p class="text-base sm:text-lg md:text-xl font-bold">NO</p>
    </div>
</div>
