---
import "../tailwind.css";
import { Image } from "astro:assets";
import logoWeb from "/public/icons/logo_web.svg";
import logoMovil from "/public/icons/logo_movil.svg";

interface Props {
    links?: { text: string; url: string }[];
}

const {
    links = [
        { text: "PORTAFOLIO", url: "/portafolio" },
        { text: "TALLERES", url: "/talleres" },
        { text: "CONTACTO", url: "/contact" },
    ],
} = Astro.props;
---

<nav
    class="fixed top-0 left-0 right-0 flex justify-between items-center px-8 bg-black z-50 md:px-8 sm:px-4 pt-safe"
    style="height: calc(5rem + env(safe-area-inset-top));"
>
    <div class="flex items-center">
        <a href="/" class="flex items-center">
            <Image
                src={logoWeb}
                alt="Logo Desktop"
                class="h-[45px] w-auto object-contain hidden md:block"
            />
            <Image
                src={logoMovil}
                alt="Logo Mobile"
                class="h-[35px] w-auto object-contain block md:hidden"
            />
        </a>
    </div>
    <div class="w-5"></div>

    <div class="flex md:gap-8 gap-4">
        {
            links.map((link) => (
                <a
                    href={link.url}
                    class="text-white font-montserrat md:text-[0.9rem] text-xs font-normal tracking-wider hover:text-gray-200 transition-colors duration-300 relative group"
                >
                    {link.text}
                    <span class="absolute bottom-[-5px] left-0 w-0 h-0.5 bg-white shadow-glow transition-all duration-300 ease-in-out group-hover:w-full" />
                </a>
            ))
        }
    </div>
</nav>

<style>
    /* Only minimal custom styling for the shadow glow effect */
    .shadow-glow {
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }

    /* For iOS safe area */
    .pt-safe {
        padding-top: env(safe-area-inset-top, 0);
    }
</style>
