---
import "../tailwind.css";
import { Image } from "astro:assets";
import logoMovil from "/public/icons/logo_movil.svg";

interface Props {
    links?: { text: string; url: string }[];
}

const {
    links = [
        { text: "PORTAFOLIO", url: "/portafolio" },
        { text: "TALLERES", url: "/talleres" },
        { text: "CONTACTO", url: "/contact" },
    ],
} = Astro.props;
---

<nav
    class="fixed top-0 left-0 right-0 flex justify-between items-center px-4 md:px-8 bg-black z-50 pt-safe"
    style="height: calc(5rem + env(safe-area-inset-top));"
>
    <div class="flex items-center">
        <a href="/" class="flex items-center">
            <div class="block md:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xml:space="preserve"
                    viewBox="0 0 250 170"
                    width="219.9"
                    height="164.3"
                    ><path
                        fill="#2EB09C"
                        d="M124.9 17.4 76.6 33.7v57.9h66.8V44.8H94.9v28.5h30V48.7h7v31.6H88.2V37.7h62.2v61.1H69.5V28.6l62.4-20.9v25.8h-7z"
                        class="st0"></path><g fill="#FFF"
                        ><path
                            d="M45 107.7v27c0 3.6-2.9 6.5-6.5 6.5H13.9c-3.6 0-6.5-2.9-6.5-6.5v-27h9v26h19.7v-26zM86.8 141.2H75.6l-13-12.1H59v-6.9h14.8c.8 0 1.5-.7 1.5-1.5V116c0-.8-.7-1.5-1.5-1.5H56.7v26.6h-8.8v-33.5h29.9c3.4 0 6.2 2.8 6.2 6.2v9c0 3.4-2.8 6.2-6.2 6.2h-4.1zM152.3 107.7h-8l-18.9 33.5h45.9zm-4.5 8.3 9.6 18.1h-19.2zM173.4 141.2h8.2V116l22.9 9.7v15.5h8v-33.5h-8v9.4l-23-9.4h-8.1zM125.1 118.3v-4c0-3.6-3-6.6-6.6-6.6H88.8v33.5h28.4c3.7 0 7.9-2.6 7.9-6.7v-5c0-2.6-1.7-4.8-4.1-5.4 2.3-1.1 4.1-3.2 4.1-5.8m-8.3.5c0 .9-.8 1.7-1.7 1.7h-15v6.8h15c.9 0 1.7.8 1.7 1.7v3.3c0 .9-.8 1.7-1.7 1.7H97.6v-19.5h17.5c.9 0 1.7.8 1.7 1.7z"
                            class="st1"></path></g
                    ><g fill="#FFF" class="st2"
                        ><path
                            d="m13 146.1 4.1 7.2h-1.3l-1-1.7h-4.6l-1 1.7H7.8l4.2-7.2zm1.2 4.4-1.7-3-1.8 3zM25.8 153.2h-1.7l-3.1-2.9h-1.9v2.9h-1.3V146h5.9c.8 0 1.5.4 1.5 1.2v2c0 .8-.6 1.2-1.5 1.2h-1.1zm-2.3-6h-4.4v2.2h4.4c.3 0 .4-.1.4-.3v-1.6c0-.2-.1-.3-.4-.3M27.7 146.1h5.2c.8 0 1.5.4 1.5 1.2v4.8c0 .8-.7 1.2-1.5 1.2h-5.2c-.8 0-1.5-.4-1.5-1.2v-4.8c0-.8.6-1.2 1.5-1.2m5.3 1.1h-5.5v5h3l-.7-1.3 1-.5 1 1.8H33zm-.6 6.1.8 1.3h-1.5l-.6-1.3zM36.6 152.2h5v-6.1h1.3v6c0 .8-.7 1.2-1.5 1.2h-4.6c-.8 0-1.5-.4-1.5-1.2v-6h1.3zM45.2 146.1v7.2h-1.3v-7.2zM50.4 153.2H49v-6.1h-3.2V146h7.7v1.1h-3.3v6.1zM61.2 147.2h-5.5v2H59v1h-3.3v2h5.6v1.1h-6.9v-7.2h6.8zM68.4 147.2h-4.8v5h4.8v-1.6l1.3.3v1.1c0 .8-.7 1.2-1.5 1.2h-4.5c-.8 0-1.5-.4-1.5-1.2v-4.8c0-.7.6-1.2 1.5-1.2h4.5c.8 0 1.5.4 1.5 1.2v1.3l-1.3.3zM74.8 153.2h-1.3v-6.1h-3.2V146H78v1.1h-3.3v6.1zM80.1 152.2h5v-6.1h1.3v6c0 .8-.7 1.2-1.5 1.2h-4.6c-.8 0-1.5-.4-1.5-1.2v-6h1.3zM95.3 153.2h-1.7l-3.1-2.9h-1.9v2.9h-1.3V146h5.9c.8 0 1.5.4 1.5 1.2v2c0 .8-.6 1.2-1.5 1.2h-1.1zm-2.2-6h-4.4v2.2h4.4c.3 0 .4-.1.4-.3v-1.6c0-.2-.1-.3-.4-.3M100.5 146.1l4.1 7.2h-1.3l-1-1.7h-4.6l-1 1.7h-1.3l4.2-7.2zm1.3 4.4-1.7-3-1.8 3z"
                            class="st1"></path></g
                    ><g fill="#FFF" class="st2"
                        ><path
                            d="M123.9 147.2h-4.7v4.8h4.7v-1.5l1.3.3v1.1c0 .7-.6 1.1-1.4 1.1h-4.4c-.8 0-1.4-.4-1.4-1.1v-4.6c0-.7.6-1.1 1.4-1.1h4.4c.8 0 1.4.4 1.4 1.1v1.2l-1.3.3zM127.6 146.2h5.1c.8 0 1.4.4 1.4 1.1v4.6c0 .7-.6 1.1-1.4 1.1h-5.1c-.8 0-1.4-.4-1.4-1.1v-4.6c-.1-.7.6-1.1 1.4-1.1m5.2 5.8v-4.8h-5.4v4.8zM136.3 153H135v-6.8h1.3l5.3 5.1v-5.1h1.3v6.8h-1.3l-5.4-5.2v5.2zM145.4 146.2h4.4c.8 0 1.4.4 1.4 1.1v.5l-1.3.3v-.9h-4.7v1.9h4.5c.8 0 1.5.4 1.5 1.1v1.7c0 .7-.6 1.1-1.4 1.1h-4.5c-.8 0-1.4-.4-1.4-1.1v-.5l1.3-.3v.9h4.8v-1.9h-4.5c-.8 0-1.4-.4-1.4-1.1v-1.7c-.1-.7.5-1.1 1.3-1.1M156.2 153h-1.3v-5.8h-3.1v-1h7.5v1h-3.2v5.8zM167.8 153h-1.6l-3-2.7h-1.8v2.7h-1.3v-6.8h5.8c.8 0 1.4.4 1.4 1.1v1.9c0 .7-.6 1.1-1.4 1.1h-1.1zm-2.1-5.8h-4.3v2.1h4.3c.3 0 .4-.1.4-.3v-1.5c-.1-.2-.2-.3-.4-.3M169.5 152h4.8v-5.8h1.3v5.7c0 .7-.7 1.1-1.5 1.1h-4.5c-.8 0-1.4-.4-1.4-1.1v-5.7h1.3zM182.7 147.2H178v4.8h4.7v-1.5l1.3.3v1.1c0 .7-.6 1.1-1.4 1.1h-4.4c-.8 0-1.4-.4-1.4-1.1v-4.6c0-.7.6-1.1 1.4-1.1h4.4c.8 0 1.4.4 1.4 1.1v1.2l-1.3.3zM190.9 147.2h-4.7v4.8h4.7v-1.5l1.3.3v1.1c0 .7-.6 1.1-1.4 1.1h-4.4c-.8 0-1.4-.4-1.4-1.1v-4.6c0-.7.6-1.1 1.4-1.1h4.4c.8 0 1.4.4 1.4 1.1v1.2l-1.3.3zM194.4 146.2v6.8h-1.3v-6.8zM196.8 146.2h5.1c.8 0 1.4.4 1.4 1.1v4.6c0 .7-.6 1.1-1.4 1.1h-5.1c-.8 0-1.4-.4-1.4-1.1v-4.6c0-.7.6-1.1 1.4-1.1m5.3 5.8v-4.8h-5.4v4.8zm-.8-7.8-1.6 1.2h-1.1l1.4-1.2zM205.6 153h-1.3v-6.8h1.3l5.3 5.1v-5.1h1.3v6.8H211l-5.4-5.2z"
                            class="st1"></path></g
                    ><path fill="#FFF" d="M110.1 142.9h.9V156h-.9z" class="st1"
                    ></path></svg
                >
            </div>
            <!-- Logo Desktop - SVG Inline para carga instantánea -->
            <div class="hidden md:block">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xml:space="preserve"
                    viewBox="0 0 300 75.514"
                    width="180"
                    height="45"
                    class="w-auto h-[45px] md:"
                    aria-label="Urban Architecture Logo"
                >
                    <path
                        fill="#2EB09C"
                        d="m40.341 14.737-26.187 8.841v31.459h36.253V29.634H24.092v15.439h16.249V31.767h3.839v17.145H20.424V25.796h33.778v33.138H10.316V20.806L44.137 9.461v14.032h-3.796z"
                    ></path><g fill="#FFF"
                        ><path
                            d="M88.428 25.924v19.62a4.737 4.737 0 0 1-4.739 4.735H65.782a4.737 4.737 0 0 1-4.738-4.735v-19.62h6.517V44.82h14.366V25.924zM118.82 50.28h-8.123l-9.477-8.818h-2.588v-5.003h10.799c.587 0 1.064-.476 1.064-1.064v-3.401c0-.587-.476-1.067-1.064-1.067H96.932V50.28h-6.409V25.924h21.751a4.51 4.51 0 0 1 4.51 4.51v6.517a4.51 4.51 0 0 1-4.51 4.51h-2.947zM166.466 25.924h-5.831L146.914 50.28h33.388zm-3.287 6.048 7.003 13.149h-14.007zM181.845 50.28h5.946V31.972l16.636 7.032V50.28h5.889V25.924h-5.889v6.849l-16.693-6.849h-5.889zM146.713 33.636v-2.914a4.795 4.795 0 0 0-4.794-4.797h-21.647V50.28h20.697c2.679 0 5.744-1.899 5.744-4.853v-3.632c0-1.912-1.221-3.515-2.966-3.955 1.655-.794 2.966-2.275 2.966-4.204m-6.06.395c0 .679-.548 1.227-1.227 1.227h-10.913v4.918h10.913c.679 0 1.227.552 1.227 1.23v2.428c0 .679-.548 1.23-1.227 1.23h-12.715V30.859h12.715c.679 0 1.227.548 1.227 1.227z"
                        ></path></g
                    ><g fill="#FFF"
                        ><path
                            d="m64.615 53.828 3.019 5.219h-.955l-.737-1.275h-3.383l-.751 1.275h-.948l3.07-5.219zm.904 3.207-1.261-2.173-1.283 2.173zM73.924 59.047h-1.218l-2.261-2.086h-1.356v2.086h-.948v-5.219h4.324c.598 0 1.072.309 1.072.852v1.422c0 .55-.474.859-1.072.859h-.831zm-1.612-4.441h-3.223v1.577h3.194c.204 0 .299-.067.299-.221v-1.134c0-.148-.066-.222-.27-.222M75.314 53.828h3.806c.598 0 1.079.309 1.079.852v3.515c0 .55-.481.859-1.079.859h-3.806c-.598 0-1.079-.309-1.079-.859V54.68c0-.543.481-.852 1.079-.852m3.923.778h-4.04v3.663H77.4l-.503-.966.7-.335.744 1.302h.897v-3.664zm-.437 4.448.554.953h-1.087l-.474-.953zM81.845 58.269h3.624v-4.441h.977v4.361c0 .55-.496.859-1.094.859h-3.391c-.598 0-1.079-.309-1.079-.859v-4.361h.962zM88.128 53.828v5.219h-.963v-5.219zM91.868 59.047h-.962v-4.441h-2.312v-.778h5.651v.778h-2.377zM99.77 54.606h-4.04v1.463h2.384v.765H95.73v1.436h4.083v.778h-5.038v-5.219h4.995zM104.996 54.606h-3.537v3.663h3.537v-1.134l.955.228v.832c0 .55-.481.852-1.072.852h-3.303c-.598 0-1.072-.302-1.072-.852V54.68c0-.543.474-.852 1.072-.852h3.303c.591 0 1.072.309 1.072.852v.946l-.955.201zM109.712 59.047h-.962v-4.441h-2.312v-.778h5.651v.778h-2.377zM113.545 58.269h3.624v-4.441h.977v4.361c0 .55-.496.859-1.094.859h-3.391c-.598 0-1.079-.309-1.079-.859v-4.361h.962zM124.663 59.047h-1.218l-2.261-2.086h-1.356v2.086h-.948v-5.219h4.324c.598 0 1.072.309 1.072.852v1.422c0 .55-.474.859-1.072.859h-.831zm-1.612-4.441h-3.223v1.577h3.194c.204 0 .299-.067.299-.221v-1.134c0-.148-.066-.222-.27-.222M128.459 53.828l3.019 5.219h-.955l-.736-1.275h-3.383l-.751 1.275h-.948l3.07-5.219zm.905 3.207-1.261-2.173-1.283 2.173zM145.482 54.619h-3.446v3.506h3.446V57.04l.931.218v.796c0 .527-.469.815-1.045.815h-3.219c-.583 0-1.044-.289-1.044-.815V54.69c0-.52.462-.815 1.044-.815h3.219c.576 0 1.045.295 1.045.815v.905l-.931.193zM148.159 53.875h3.709c.583 0 1.052.295 1.052.815v3.364c0 .527-.469.815-1.052.815h-3.709c-.583 0-1.052-.289-1.052-.815V54.69c0-.52.469-.815 1.052-.815m3.823 4.25v-3.506h-3.937v3.506zM154.552 58.87h-.931v-4.995h.959l3.894 3.749v-3.749h.938v4.995h-.938l-3.923-3.762v3.762zM161.158 53.875h3.205c.576 0 1.045.295 1.045.815v.353l-.924.237v-.661h-3.439V56h3.297c.569 0 1.066.283 1.066.803v1.246c0 .527-.469.822-1.045.822h-3.297c-.583 0-1.045-.295-1.045-.822v-.372l.931-.238v.687h3.525v-1.387h-3.319c-.583 0-1.044-.295-1.044-.822V54.69c-.001-.52.461-.815 1.044-.815M169.057 58.87h-.938v-4.25h-2.253v-.745h5.507v.745h-2.317v4.25zM177.511 58.87h-1.187l-2.203-1.997H172.8v1.997h-.924v-4.995h4.214c.583 0 1.044.295 1.044.815v1.361c0 .526-.462.822-1.044.822h-.81zm-1.57-4.251H172.8v1.509h3.112c.199 0 .291-.064.291-.212v-1.085c.001-.141-.063-.212-.262-.212M178.746 58.125h3.532v-4.25h.952v4.173c0 .527-.483.822-1.066.822h-3.304c-.583 0-1.052-.295-1.052-.822v-4.173h.938zM188.322 54.619h-3.446v3.506h3.446V57.04l.931.218v.796c0 .527-.469.815-1.045.815h-3.219c-.583 0-1.044-.289-1.044-.815V54.69c0-.52.462-.815 1.044-.815h3.219c.576 0 1.045.295 1.045.815v.905l-.931.193zM194.346 54.619H190.9v3.506h3.446V57.04l.931.218v.796c0 .527-.469.815-1.045.815h-3.219c-.583 0-1.044-.289-1.044-.815V54.69c0-.52.462-.815 1.044-.815h3.219c.576 0 1.045.295 1.045.815v.905l-.931.193zM196.916 53.875v4.995h-.938v-4.995zM198.642 53.875h3.709c.583 0 1.052.295 1.052.815v3.364c0 .527-.469.815-1.052.815h-3.709c-.583 0-1.052-.289-1.052-.815V54.69c.001-.52.47-.815 1.052-.815m3.823 4.25v-3.506h-3.937v3.506zM205.035 58.87h-.931v-4.995h.959l3.894 3.749v-3.749h.938v4.995h-.938l-3.923-3.762v3.762zM135.396 51.539h.654v9.582h-.654zM202.465 52.247l-1.577 1.223h-1.099l1.44-1.223z"
                        ></path></g
                    >
                </svg>
            </div>
        </a>
    </div>

    <!-- Desktop Navigation Links -->
    <div class="hidden md:flex md:gap-8">
        {
            links.map((link) => (
                <a
                    href={link.url}
                    class="text-white font-montserrat md:text-[0.9rem] text-xs font-normal tracking-wider hover:text-gray-200 transition-colors duration-300 relative group"
                >
                    {link.text}
                    <span class="absolute bottom-[-5px] left-0 w-0 h-0.5 bg-white shadow-glow transition-all duration-300 ease-in-out group-hover:w-full" />
                </a>
            ))
        }
    </div>

    <!-- Mobile Hamburger Menu Button -->
    <button
        id="mobile-menu-button"
        class="md:hidden text-white flex flex-col justify-center items-center gap-1.5"
        aria-label="Menu"
    >
        <span class="w-6 h-0.5 bg-white transition-all duration-300"></span>
        <span class="w-6 h-0.5 bg-white transition-all duration-300"></span>
        <span class="w-6 h-0.5 bg-white transition-all duration-300"></span>
    </button>

    <!-- Mobile Navigation Menu -->
    <div
        id="mobile-menu"
        class="fixed inset-0 bg z-50 transform translate-x-full transition-transform duration-300 ease-in-out md:hidden flex flex-col justify-center items-center"
    >
        <button
            id="close-mobile-menu"
            class="absolute text-white"
            aria-label="Close menu"
        >
            <span
                class="block w-6 h-0.5 bg-white transform rotate-45 translate-y-0.5"
            ></span>
            <span class="block w-6 h-0.5 bg-white transform -rotate-45"></span>
        </button>

        <div class="h-10"></div>

        <div class="flex flex-col items-center gap-8">
            {
                links.map((link) => (
                    <a
                        href={link.url}
                        class="text-white font-montserrat text-xl font-normal tracking-wider hover:text-gray-200 transition-colors duration-300 relative group"
                    >
                        {link.text}
                        <span class="absolute bottom-[-5px] left-0 w-0 h-0.5 bg-white shadow-glow transition-all duration-300 ease-in-out group-hover:w-full" />
                    </a>
                ))
            }
        </div>
    </div>
</nav>

<script>
    // Mobile menu functionality
    document.addEventListener("DOMContentLoaded", () => {
        const mobileMenuButton = document.getElementById("mobile-menu-button");
        const closeMenuButton = document.getElementById("close-mobile-menu");
        const mobileMenu = document.getElementById("mobile-menu");

        if (mobileMenuButton && mobileMenu && closeMenuButton) {
            mobileMenuButton.addEventListener("click", () => {
                mobileMenu.classList.remove("translate-x-full");
                document.body.style.overflow = "hidden";
            });

            closeMenuButton.addEventListener("click", () => {
                mobileMenu.classList.add("translate-x-full");
                document.body.style.overflow = "";
            });

            // Close menu when clicking on links
            const mobileLinks = mobileMenu.querySelectorAll("a");
            mobileLinks.forEach((link) => {
                link.addEventListener("click", () => {
                    mobileMenu.classList.add("translate-x-full");
                    document.body.style.overflow = "";
                });
            });
        }
    });
</script>

<style>
    .bg {
        background-color: #000000;
        opacity: 0.8;
    }

    /* Only minimal custom styling for the shadow glow effect */
    .shadow-glow {
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }

    /* For iOS safe area */
    .pt-safe {
        padding-top: env(safe-area-inset-top, 0);
    }

    /* Asegura que los SVG se rendericen correctamente */
    svg {
        display: block;
        shape-rendering: geometricPrecision;
        text-rendering: optimizeLegibility;
        width: auto;
        height: 100%;
        max-height: 45px;
        overflow: visible;
    }

    /* Estilo específico para el logo móvil */
    .block.md\:hidden svg {
        transform-origin: left center;
        margin-left: 0.5rem; /* Añade un pequeño margen izquierdo */
    }

    /* Mobile menu button styles */
    #mobile-menu-button {
        height: 24px;
        width: 24px;
        position: relative;
    }

    #mobile-menu-button span {
        transition:
            transform 0.3s ease-in-out,
            opacity 0.3s ease-in-out;
    }

    /* Close button styles */
    #close-mobile-menu {
        height: 24px;
        width: 24px;
        position: relative;
    }

    /* Prevent scrolling when menu is open */
    body.menu-open {
        overflow: hidden;
    }
</style>
