---
import "../tailwind.css";
import { Image } from "astro:assets";
import logoMovil from "/public/icons/logo_movil.svg";

interface Props {
    links?: { text: string; url: string }[];
}

const {
    links = [
        { text: "PORTAFOLIO", url: "/portafolio" },
        { text: "TALLERES", url: "/talleres" },
        { text: "CONTACTO", url: "/contact" },
    ],
} = Astro.props;
---

<!-- Preload de logo móvil -->
<link
    rel="preload"
    href={logoMovil.src}
    as="image"
    type="image/svg+xml"
    fetchpriority="high"
/>

<nav
    class="fixed top-0 left-0 right-0 flex justify-between items-center px-4 md:px-8 bg-black z-50 pt-safe"
    style="height: calc(5rem + env(safe-area-inset-top));"
>
    <div class="flex items-center">
        <a href="/" class="flex items-center">
            <!-- Logo Desktop - SVG Inline para carga instantánea -->
            <div class="hidden md:block">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xml:space="preserve"
                    viewBox="0 0 219.936 75.514"
                    width="180"
                    height="45"
                    class="w-auto h-[45px]"
                    aria-label="Urban Architecture Logo"
                >
                    <path
                        fill="#2EB09C"
                        d="m40.341 14.737-26.187 8.841v31.459h36.253V29.634H24.092v15.439h16.249V31.767h3.839v17.145H20.424V25.796h33.778v33.138H10.316V20.806L44.137 9.461v14.032h-3.796z"
                    ></path><g fill="#FFF"
                        ><path
                            d="M88.428 25.924v19.62a4.737 4.737 0 0 1-4.739 4.735H65.782a4.737 4.737 0 0 1-4.738-4.735v-19.62h6.517V44.82h14.366V25.924zM118.82 50.28h-8.123l-9.477-8.818h-2.588v-5.003h10.799c.587 0 1.064-.476 1.064-1.064v-3.401c0-.587-.476-1.067-1.064-1.067H96.932V50.28h-6.409V25.924h21.751a4.51 4.51 0 0 1 4.51 4.51v6.517a4.51 4.51 0 0 1-4.51 4.51h-2.947zM166.466 25.924h-5.831L146.914 50.28h33.388zm-3.287 6.048 7.003 13.149h-14.007zM181.845 50.28h5.946V31.972l16.636 7.032V50.28h5.889V25.924h-5.889v6.849l-16.693-6.849h-5.889zM146.713 33.636v-2.914a4.795 4.795 0 0 0-4.794-4.797h-21.647V50.28h20.697c2.679 0 5.744-1.899 5.744-4.853v-3.632c0-1.912-1.221-3.515-2.966-3.955 1.655-.794 2.966-2.275 2.966-4.204m-6.06.395c0 .679-.548 1.227-1.227 1.227h-10.913v4.918h10.913c.679 0 1.227.552 1.227 1.23v2.428c0 .679-.548 1.23-1.227 1.23h-12.715V30.859h12.715c.679 0 1.227.548 1.227 1.227z"
                        ></path></g
                    ><g fill="#FFF"
                        ><path
                            d="m64.615 53.828 3.019 5.219h-.955l-.737-1.275h-3.383l-.751 1.275h-.948l3.07-5.219zm.904 3.207-1.261-2.173-1.283 2.173zM73.924 59.047h-1.218l-2.261-2.086h-1.356v2.086h-.948v-5.219h4.324c.598 0 1.072.309 1.072.852v1.422c0 .55-.474.859-1.072.859h-.831zm-1.612-4.441h-3.223v1.577h3.194c.204 0 .299-.067.299-.221v-1.134c0-.148-.066-.222-.27-.222M75.314 53.828h3.806c.598 0 1.079.309 1.079.852v3.515c0 .55-.481.859-1.079.859h-3.806c-.598 0-1.079-.309-1.079-.859V54.68c0-.543.481-.852 1.079-.852m3.923.778h-4.04v3.663H77.4l-.503-.966.7-.335.744 1.302h.897v-3.664zm-.437 4.448.554.953h-1.087l-.474-.953zM81.845 58.269h3.624v-4.441h.977v4.361c0 .55-.496.859-1.094.859h-3.391c-.598 0-1.079-.309-1.079-.859v-4.361h.962zM88.128 53.828v5.219h-.963v-5.219zM91.868 59.047h-.962v-4.441h-2.312v-.778h5.651v.778h-2.377zM99.77 54.606h-4.04v1.463h2.384v.765H95.73v1.436h4.083v.778h-5.038v-5.219h4.995zM104.996 54.606h-3.537v3.663h3.537v-1.134l.955.228v.832c0 .55-.481.852-1.072.852h-3.303c-.598 0-1.072-.302-1.072-.852V54.68c0-.543.474-.852 1.072-.852h3.303c.591 0 1.072.309 1.072.852v.946l-.955.201zM109.712 59.047h-.962v-4.441h-2.312v-.778h5.651v.778h-2.377zM113.545 58.269h3.624v-4.441h.977v4.361c0 .55-.496.859-1.094.859h-3.391c-.598 0-1.079-.309-1.079-.859v-4.361h.962zM124.663 59.047h-1.218l-2.261-2.086h-1.356v2.086h-.948v-5.219h4.324c.598 0 1.072.309 1.072.852v1.422c0 .55-.474.859-1.072.859h-.831zm-1.612-4.441h-3.223v1.577h3.194c.204 0 .299-.067.299-.221v-1.134c0-.148-.066-.222-.27-.222M128.459 53.828l3.019 5.219h-.955l-.736-1.275h-3.383l-.751 1.275h-.948l3.07-5.219zm.905 3.207-1.261-2.173-1.283 2.173zM145.482 54.619h-3.446v3.506h3.446V57.04l.931.218v.796c0 .527-.469.815-1.045.815h-3.219c-.583 0-1.044-.289-1.044-.815V54.69c0-.52.462-.815 1.044-.815h3.219c.576 0 1.045.295 1.045.815v.905l-.931.193zM148.159 53.875h3.709c.583 0 1.052.295 1.052.815v3.364c0 .527-.469.815-1.052.815h-3.709c-.583 0-1.052-.289-1.052-.815V54.69c0-.52.469-.815 1.052-.815m3.823 4.25v-3.506h-3.937v3.506zM154.552 58.87h-.931v-4.995h.959l3.894 3.749v-3.749h.938v4.995h-.938l-3.923-3.762v3.762zM161.158 53.875h3.205c.576 0 1.045.295 1.045.815v.353l-.924.237v-.661h-3.439V56h3.297c.569 0 1.066.283 1.066.803v1.246c0 .527-.469.822-1.045.822h-3.297c-.583 0-1.045-.295-1.045-.822v-.372l.931-.238v.687h3.525v-1.387h-3.319c-.583 0-1.044-.295-1.044-.822V54.69c-.001-.52.461-.815 1.044-.815M169.057 58.87h-.938v-4.25h-2.253v-.745h5.507v.745h-2.317v4.25zM177.511 58.87h-1.187l-2.203-1.997H172.8v1.997h-.924v-4.995h4.214c.583 0 1.044.295 1.044.815v1.361c0 .526-.462.822-1.044.822h-.81zm-1.57-4.251H172.8v1.509h3.112c.199 0 .291-.064.291-.212v-1.085c.001-.141-.063-.212-.262-.212M178.746 58.125h3.532v-4.25h.952v4.173c0 .527-.483.822-1.066.822h-3.304c-.583 0-1.052-.295-1.052-.822v-4.173h.938zM188.322 54.619h-3.446v3.506h3.446V57.04l.931.218v.796c0 .527-.469.815-1.045.815h-3.219c-.583 0-1.044-.289-1.044-.815V54.69c0-.52.462-.815 1.044-.815h3.219c.576 0 1.045.295 1.045.815v.905l-.931.193zM194.346 54.619H190.9v3.506h3.446V57.04l.931.218v.796c0 .527-.469.815-1.045.815h-3.219c-.583 0-1.044-.289-1.044-.815V54.69c0-.52.462-.815 1.044-.815h3.219c.576 0 1.045.295 1.045.815v.905l-.931.193zM196.916 53.875v4.995h-.938v-4.995zM198.642 53.875h3.709c.583 0 1.052.295 1.052.815v3.364c0 .527-.469.815-1.052.815h-3.709c-.583 0-1.052-.289-1.052-.815V54.69c.001-.52.47-.815 1.052-.815m3.823 4.25v-3.506h-3.937v3.506zM205.035 58.87h-.931v-4.995h.959l3.894 3.749v-3.749h.938v4.995h-.938l-3.923-3.762v3.762zM135.396 51.539h.654v9.582h-.654zM202.465 52.247l-1.577 1.223h-1.099l1.44-1.223z"
                        ></path></g
                    >
                </svg>
            </div>

            <!-- Logo Mobile -->
            <div class="md:hidden">
                <Image
                    src={logoMovil}
                    alt="Urban Architecture Logo Mobile"
                    class="h-[35px] w-auto"
                    width={35}
                    height={35}
                    loading="eager"
                />
            </div>
        </a>
    </div>

    <div class="flex md:gap-8 gap-4">
        {
            links.map((link) => (
                <a
                    href={link.url}
                    class="text-white font-montserrat md:text-[0.9rem] text-xs font-normal tracking-wider hover:text-gray-200 transition-colors duration-300 relative group"
                >
                    {link.text}
                    <span class="absolute bottom-[-5px] left-0 w-0 h-0.5 bg-white shadow-glow transition-all duration-300 ease-in-out group-hover:w-full" />
                </a>
            ))
        }
    </div>
</nav>

<style>
    /* Only minimal custom styling for the shadow glow effect */
    .shadow-glow {
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }

    /* For iOS safe area */
    .pt-safe {
        padding-top: env(safe-area-inset-top, 0);
    }

    /* Asegura que los SVG se rendericen correctamente */
    svg {
        display: block;
        shape-rendering: geometricPrecision;
        text-rendering: optimizeLegibility;
    }
</style>
