---
import "../styles/fonts.css";
import WhatsAppButton from "../components/WhatsAppButton.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />

		<!-- Updated WhatsApp button with a real phone number format -->
		<WhatsAppButton
			phoneNumber="+5219991234567"
			message="Hola, estoy interesado en sus servicios"
			size="65px"
			position="bottom-right"
		/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		position: relative;
	}
</style>
